/*BASE*/
header{
	height: 100px;
	background:{
		color: rgba(209, 209, 209, 0.8);
	}
}

/*LOGOS */
h1#logo-portada{
	width: 99px;
	height: 129px;
	margin: 20px;
	float: left;
	background: {
		image: url('../img/logo.png');
		repeat: no-repeat;
	}
}
div#logo-manzana{
	width: 120px;
	height: 34px;
	margin: 10px auto;
	background:{
		image: url('img/logo-literal.png');
		repeat: no-repeat;
	}
}

/* MEDIA QUERIES */
/* Larger than tablet */
/* Larger than desktop */
@media (min-width: 768px) {
	header{
		height: 70px;
	}
}
/* Larger than desktop */
@media (min-width: 1000px) {
	div#logo-manzana{
		margin: 16px 0px 0px;
	}
}