html{
	position: relative;
	min-height: 100vh;
}
@import "_header.scss",
		"_navigation.scss",
		"_slider.scss",
		"_sidebar.scss",
		"_helpers.scss",
		"_page.scss",
		"_footer.scss",
		"_links.scss";