/* Language Menu */
#language-menu {
	width: 150px;
	height: 20px;
	float: right;
	margin: 10px;
	padding: 10px 0px;
	ul, li, a{
		margin: 0px;
		padding: 0px;
	}
	li{
		list-style: none;
		display: inline-block;
	}
	a:visited, a:link{
		text-decoration: none;
		font-family: 'HelveticaNeue-Medium';
	}
	.current-menu-item a:link,
	.current-menu-item a:visited{
		font-weight: 500;
	}
}
/* Top Menu */
nav#top-menu{
	display: none;
	margin-top: 30px;
	height: 34px;
	ul{
		margin: 0px;
		float: right;
	}
	li{
		display: block;
		list-style: none;
		margin: 0px 10px;
		color: #444;
	}
	a:visited, a:link{
		color: #444;
	}
	a:hover{
		color: #000;
	}
	.current-menu-item a:link,
	.current-menu-item a:visited{
		font-weight: 500;
		color: #000;
	}
}
/* Mobile Nav */
.mobile-nav{
	margin: 0px auto;
	display: block;
	border-radius: 0px;
	border: none;
	background: #F1F1F1;
	padding-left: 0px;
	width: 70px;
}

/* Sidebar Menu */
.right-sidebar{
	display: block;
	a{
		border-bottom: 1px solid #d1d1d1;
		margin-bottom: 5px;
		display:block;
		width: 100%;
	}
}
.left-sidebar{
	display: none;
}
.sidebar{
	padding: 20px 0px;
	ul{
		margin: 10px
	}
	li{
		list-style: none;
		margin-bottom: 5px;
	}
	a:visited, a:link{
		color: #444;
	}
	a:hover{
		color: #000;
	}page
	.current_page_item a:link,
	.current_page_item a:visited{
		font-weight: 600;
		color: #000;
	}
}

/* Footer Menu */
#menu-social{
	ul{
		margin-bottom: 0px;
	}
	li{
		list-style: none;
		display: inline-block;
	}
	a:visited, a:link{
		color: #444;
	}
	a:hover{
		color: #000;
	}
}

/* Larger than desktop */
@media (min-width: 1000px) {
	nav#top-menu{
		display: block;
		ul{
			float: left;
		}
		li{
			display: inline-block;
		}
	}
	.mobile-nav{
		display: none;
	}
	.right-sidebar{
		display: none;
	}
	.left-sidebar{
		display: block;
	}
}