.page-content{
	margin-bottom: 60px;
}

/*PORTADA*/
.portada{
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -1;
}
.hero{
	background:{
		image: url('./img/portada4.jpg');
		size: cover;
	}
	position: relative;
	height: 100vh;
}

/* Paginas Internas */
.main-content{
	padding: 20px;
	img{
		width: 100%;
	}
	p{
		font-family: arial;
		font-size: 1.6rem;
		text-align: justify;
	}
	p:first-of-type{
		margin-top: 25px;
	}
}
/* Page Amigos */
.contenedor-amigos{
	width: 100%;
	#part1,
	#part2,
	#part3{
		width: 33%;
		float: left;
	}
}

